:root {
    --color-background: #000000;
    --color-primary: #983690;
    --color-secondary: #F5A06D;
}

body {
    background-color: var(--color-background);
    background-image: url('/img/Cityscape_3.png');
    background-position-x: center;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a, a:visited {
    color: var(--color-secondary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.info-program a, a:visited {
    color: var(--color-primary);
    text-decoration: none;
}

.main-wrapper {
    min-height: 600px;
    height: 100%;
}

.main {
}

.page-index {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 100%;
}
.page-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    height: 100%;
}

.navigation {
    background: black;
    position: fixed;
    width: 100%;
    align-items: center;
    display: flex;
}
.navigation a {
    padding: 10px;
}

.navigation a img{
    height: 30px;
    padding: 10px;
}

.banner-logo {
    max-width: 600px;
    margin: 100px auto 0 auto;
    text-align: center;
}
.banner-logo img {
    width: 80%;
    min-width: 200px;
}

.wrapper-pane {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.8) 6%, rgba(0,0,0,.8) 94%, rgba(0,0,0,.8) 100%);
    padding: 20px 15px 60px 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}
.index-content {
    max-width: 600px;
}

.teknisk-museum-logo {
    margin: 20px 0;
    display: inline-block;
}

.slack-join-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.slack-join-link img {
    height: 20px;
}

.description-box {
    text-align: left;
}

.description-box ul {
    padding-left: 20px;
}

.form-link {
    display: inline-block;
    margin-bottom: 20px;
}

.komite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.komite-person {
    width: 110px;
    min-width: 33%;
}

.komite img {
    height: 100px;
}

.info-museet{
    text-align: left;
}

.info-presentasjon{
    text-align: left;
}

.fellessesjon-programheader {
    display: grid;
    grid-template-columns: 12% auto;
    text-align: center;
    grid-gap: 10px;
}

.fellessesjon-programheader .aktivitet {
    background: #983590;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fellessesjon-workshop-programheader {
    display: grid;
    grid-template-columns: 12% 3fr 1fr;
    text-align: center;
    grid-gap: 10px;
}

.fellessesjon-workshop-programheader .aktivitet {
    background: #983590;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fellessesjon {
    display: grid;
    grid-template-columns: 12% auto;
    text-align: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    color: black;
}

.fellessesjon .tid{
    border-radius: 10px;
    background: #F5A06D;
}

.fellessesjon .aktivitet{
    border-radius: 10px;
    background: #F5A06D;
}

.fellessesjon-workshop {
    display: grid;
    grid-template-columns: 12% 3fr 1fr;
    text-align: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    color: black;
}

.fellessesjon-workshop .tid{
    border-radius: 10px;
    background: #F5A06D;
}

.fellessesjon-workshop .aktivitet{
    border-radius: 10px;
    background: #F5A06D;
}

.track-programheader {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    word-wrap: anywhere;
}

.track-programheader .aktivitet {
    background: #983590;
    border-radius: 10px;
}

.track {
    display: grid;
    grid-template-columns: 12% 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 10px;
    margin-bottom: 10px;
    color: black;
}

.track .tid{
    border-radius: 10px;
    background: #91D6E4;
}

.track .aktivitet{
    border-radius: 10px;
    background: #91D6E4;
}
