---
pageClass: base
description: "NAV IT Tech Day 2023 – Fagdag for Utvikling og Data"
---

<!doctype html>
<html lang="no">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if title %}{{ title }} | {% endif %} NITD 2023</title>
    <meta name="description" content="{{description}}" />
    <link rel="icon" type="images/png" href="/img/lillaLogo.png" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
<div class="main-wrapper">
    <main class="main page-{{pageClass}}">
        {{ content | safe }}
    </main>
</div>
</body>
</html>
