---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>88MPH: Hvordan vi gjorde NAV.no raskere med mindre</h1>
    <div class="info-presentasjon">
        <p>Dekoratøren er en sentral brikke i frontendarkitekturen til nav.no. Den har lenge trengt et teknisk løft, men hvordan går man i gang med noe sånt? Dette er en presentasjon om å utfordre det vi tror vi vet om moderne frontendutvikling, om å tørre å søke svar i utdaterte tilnærminger, og å ta med disse tilbake til fremtiden. </p>
        <p>Kategori: erfaring fra hverdagen, ny teknologi</p>
    </div>
</div>

