---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Hvor er damene?</h1>
    <div class="info-presentasjon">
        <p>Jeg vil utforske hvorfor det er så få kvinnelige utviklere i NAV og generelt i verden.
            Dette blir en talk basert på masse data og egne erfaringer. Hilsen en ikke-utvikler som har laget en egen app for formålet!
        </p>
        <p>Kategori: erfaring fra hverdagen, ny teknologi, hobbyprosjekt</p>
    </div>
</div>

