---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Historien om KI i NAV - fra AI-lab til desentralisert data science. Og hva blir det neste?</h1>
    <div class="info-presentasjon">
        <p>Litt historiefortelling om reisen NAV har vært på innen kunstig intelligens, hva vi har erfart og litt om hva vi tenker for fremtiden. Kort om historien: Fra å hanke inn kompetente folk og etablering av en (sentral) AI-lab som slet med å få virksomheten til å ta i bruk det som ble utviklet, til desentralisering med data scientister i team, bygging av et økosystem med ulike samarbeidspartnere, etablering av støtteteamet Tada, juridiske hindringer (og hvordan vi har jobbet med å komme forbi eller over hindrene) og nå hvordan vi møter generativ KI-hypen og hva som kan være neste steg på ferden mot å virkelig få ut verdi fra KI i NAV.</p>
        <p>Kategori: erfaring fra hverdagen</p>
    </div>
</div>

