---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Hyperfish: en god dårlig ide</h1>
    <div class="info-presentasjon">
        <p>Hobbyprosjekter blir morsomst hvis de er litt originale. Da kan dårlige ideer være gull verdt. Det fine med dårlige ideer er at det er så mange av dem. Dermed er det lettere å finne en som ikke har vært utforsket før. Enda bedre er det om man tar en dårlig ide og kombinerer den med en eller flere gode ideer. Sjansene er store for at du ender opp med å lage noe som ingen har laget før. I Hyperfish har jeg kombinert to gode ideer - hypermedia og Peter Hendersons functional geometry - med en dårlig en som jeg kom på selv: å bruke URL'en som stack. I denne lyntalen viser jeg hvordan de tre ideene spiller sammen og finner sin egen logikk.
        </p>
        <p>Kategori: hobbyprosjekt</p>
    </div>
</div>

