---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Test din datapipeline!</h1>
    <div class="info-presentasjon">
        <p>Kodebasert datatransformasjon er i rivende utvikling, og ethvert slikt rammeverk bur understøtte overvåking og test av pipelinene. Hvor mye krever det og hvor god er dbt på dette?
        </p>
        <p>Kategori: ny teknologi</p>
    </div>
</div>

