---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Cake Driven Security</h1>
    <div class="info-presentasjon">
        <p>Hva er egentlig Cake Driven Security og kan det hjelpe deg å sikkre dine applikasjoner på flere nivåer? (tl;dr = ja)
        </p>
        <p>Kategori: fuckup (en gang du dummet deg ut i jobbsammenheng), erfaring fra hverdagen</p>
    </div>
</div>

