---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Database til kode</h1>
    <div class="info-presentasjon">
        <p>Forskjellige måter å håndtere overgangen mellom sql og kode
            ORM, JOOQ , generet kode(https://pgtyped.dev),, "") automagisk mapping, manuell mapping.
        </p>
        <p>Kategori: hobbyprosjekt, erfaring fra hverdagen</p>
    </div>
</div>

