---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Lage for å lære, eller lære før man lager?</h1>
    <div class="info-presentasjon">
        <p>Å jobbe i produktteam er en evig balansegang mellom byggefella og analysefella. Hvor mye må vi lære for vi lager noe, og når lærer vi egentlig best av å lage noe? Og er det mulig å finne en balanse her som alle fagfelt kan slå seg til ro med?</p>
    </div>
</div>
