---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>På innsiden av hjernen til en maskin</h1>
    <div class="info-presentasjon">
        <p>Hvorfor kan man lese tankene til en maskin? Dette bidraget skal prøve å vise litt hvordan man kan forklare hvordan en maskinlæringsmodell "tenker", utforske hva det vil si å forklare noe og vise frem hvordan Nav har bidratt på forskningsfronten innenfor forklarbarhet innen kunstig intelligens.
        </p>
    </div>
</div>

