---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Hva er en GPU og hvorfor er den så nyttig for maskinlæring?</h1>
    <div class="info-presentasjon">
        <p>GPUer har blitt en uvurdelig ressurs i moderne maskinlæring, men hvorfor?</p>
        <p>Er du litt interessert i maskinlæring og lurer på hvorfor man ofte hører at man må ha en GPU for trening? Eller kanskje du ikke kunne brydd deg mindre om maskinlæring, men allikevel er litt interessert i maskinvaren som gjemmer seg inne i det store korte man trenger for å spille dataspill?</p>
        <p>I denne presentasjonen skal vi se litt på hva en GPU er, hvordan den er forskjellig fra CPUen og tilslutt forstå hva som gjør den så viktig for maskinlæring.</p>
        <p>Presentasjonen krever ingen forkunnskaper til hverken maskinvare eller maskinlæring.</p>
    </div>
</div>

