---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Introduksjon til GPUer</h1>
    <div class="info-presentasjon">
        <p>Introduksjon til GPUer og hvorfor de er så viktige for moderne maskinlæring.</p>
    </div>
</div>

