---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Mono-repo eller mange repo? Prøv meta-repo!</h1>
    <div class="info-presentasjon">
        <p>Flere titalls repo å holde styr på i teamet? Funderer på å gå over til mono-repo, men hørt om at det er har sine utfordringer?</p>
        <p>Kanskje det er en idé å forsøke META-repo?</p>
        <p>I denne talken får du en innføring i meta-repo, hvordan sette det opp - og om muligheter det gir til å håndtere mange repo på en enklere måte, uten å gå hele veien til mono-repo.</p>
        <p>Kategori: ny teknologi</p>
    </div>
</div>

