---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Hvorfor måle? En parallell til kontinuerlig læring i breddeidretten</h1>
    <div class="info-presentasjon">
        <p>Vi prater mye om å bli datadrevet, men vi snakker kanskje ikke like mye om hvorfor vi skal bli det og hvordan det ser ut når man er "datadrevet".
            For å krydre et litt tørt tema, har jeg lyst til å trekke paralleller til breddeidretten og hvor absurd det hadde vært å ikke justere opplegget når barna tydelig melder fra (målinger!!) at de ikke digger det vi trenerne planlegger.
        </p>
        <p>Kategori: erfaring fra hverdagen</p>
    </div>
</div>

