---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Security Champions i NAV</h1>
    <div class="info-presentasjon">
        <p>En kjapp liten gjennomgang av hva Security Champions i NAV. Hvorfor vi har det, hva det er og hva det ikke er!</p>
        <p>Kategori: erfaring fra hverdagen</p>
    </div>
</div>

