---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Hva er representasjonsløsning? Hvordan påvirker det NAV og innbyggerne?</h1>
    <div class="info-presentasjon">
        <p>Skal forklare hva er representasjonsløsning prosjekt og hvordan påvirker det NAV og innbyggerne?
        </p>
        <p>Kategori: nytt prosjekt</p>
    </div>
</div>

