---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Radikal forenkling av Datavarehusløsninger med Dataprodukt som kilde (eksempler fra Etterlatte prosjektet)</h1>
    <div class="info-presentasjon">
        <p>Denne presentasjonen vil demonstrere hvorfor Dataprodukter fra kildesystem tilpasset rapportering, gir mye enklere Datavarehusløsninger. Dette er nå i ferd med å realiseres for ny etterlatte løsning for ytelsen barnepensjon. Endringen i konseptuelt løsningsdesign gir såpass mye enklere løsninger at det kan være en vei ut i skyen for Datavarehuset og en mulighet til å skrive seg ut av enorme mengder gammel kode. Utgangspunktet vil være Pesys sentrisk og omhandle data fra PO-Pensjon.
        </p>
        <p>Kategori: erfaring fra hverdagen, ny teknologi, implementasjon av nytt konsept</p>
    </div>
</div>
