---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Tableau eller Metabase?</h1>
    <div class="info-presentasjon">
        <p>Tableau er et brukervennlig visuelliseringsverktøy som gir raskt innsikt i  dataene. Å analysere data , vise grafisk og dele innsikt er sterke sider ved Tableau. Metabase er  nyere BI verktøy som lager grafer og dashboard raskt og deler informasjon. Hva skal teamene velge? Viser frem erfaringer og praktiske eksempler fra team Tillit og Team arbeidsforhold.
        </p>
        <p>Kategori: erfaring fra hverdagen, ny teknologi</p>
    </div>
</div>

