---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Leesah Game</h1>
    <div class="info-presentasjon">
        <p>Leesah-game er et hendelsedrevet applikasjonsutviklingspill. Spillerne skal videreutvikle en applikasjon som kan håndtere et utvalg av utfordrende hendelser som den mottar på NAIS-plattformen.
            Hvordan spille: Spillerne skal implementere en «QuizParticipant» som svarer på spørsmål som blir publisert av «QuizMaster». Basically en programmatisk quiz!
            Forkunnskaper: Litt kunnskap om programmering er alt som trengs. Spillet foregår i Kotlin, så det er en hjelpfull forkunnskap, men ikke nødvendig.
            Kurset har først en intro til Kafka, logs, NAIS og Leesah (livet er en strøm av hendelser) før spillet setter igang.
            Spillerne er i lag på to og to, og løser oppgaver ved å programmere svarene og deploye på NAIS!</p>
        <p>Kategori: hobbyprosjekt</p>
        <p>Påmelding i <a href="https://delta.nav.no/event/77e3ebec-94d6-4168-a171-4021907c35ae">delta</a></p>
    </div>
</div>

