---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Endringsdyktige systemer</h1>
    <div class="info-presentasjon">
        <p>Ulike refleksjoner rundt endringsdyktige systemer. Både systemer i stort (som NAV), og løsninger vi utvikler.
            Hva kjennetegner systemer som er endringsdyktige?
            Hva gjør vi i NAV for å lage endringsdyktige systemer?</p>
        <p>Kategori: erfaring fra hverdagen</p>
    </div>
</div>

