---
layout: "layouts/base.njk"
pageClass: index
---

<h1 class="title">NAV IT Tech Day 2023</h1>
<h2>9. november på Teknisk Museum</h2>
<p>Mer informasjon kommer snart!</p>

<a class="slack-join-link" href="{{ site.slackUrl }}"><img src="/img/Slack-mark.png" alt="Slack mark"/>Bli med i #nitd23</a>
