---
layout: "layouts/base.njk"
pageClass: index
---

<div class="index-content">
    <h1 class="title">NAV IT Tech Day 2023</h1>
    <h2>Fagdag for Utvikling og Data, 9. november på Teknisk Museum</h2>

    <div class="description-box">
        <p>For at NITD23 skal bli den beste fagdagen i NAVs historie, trenger vi gode, faglige bidrag fra de beste folka. </p>
        <p>Hva slags bidrag, spør du? Presentasjoner, workshops, stands, musikalsk opptreden eller et annet kulturelt innslag og alt imellom.</p>

        <p>Temaet for fagdagen er <i><b>Tilbake til fremtiden</b></i> og bidrag innenfor temaet prioriteres. Hva er innenfor temaet, spør du? Vel, vår teknologiske tidsmaskin gjør gjerne et dykk i det aller meste.</p>

        <ul>
            <li>Hva med en teknologisk reise i lys av NAV?</li>
            <li>Noen ord om plattform, sky, arkitektur, stacks, ny teknologi eller funksjonalitet?</li>
            <li>En fuckup der du eller teamet ditt trodde dere reddet verden, men skapte hodebry for saksbehandlerne i flere dager?</li>
            <li>En gruppeøkt der kommunikasjon eller andre soft skills kan få et løft?</li>
            <li>Et tema du vil diskutere med flere, og legger til rette for et passende forum? Eks. lean coffee.</li>
            <li>Hvordan du bruker eller eksperimenterer med KI/ML i hverdagen din?</li>
            <li>Lidenskapen din for data governance, personvern og datakvalitet?</li>
            <li>På hvilken måte analyse- og innsiktsarbeid gjør NAV enda mer datadrevet?</li>
        </ul>
    </div>

    <a class="form-link" href="{{ site.formsUrl }}">🎉 Send inn ditt bidrag i dag 🎉</a>

    <a class="slack-join-link" href="{{ site.slackUrl }}"><img src="/img/Slack-mark.png" alt="Slack mark"/>Bli med i #nitd23</a>

    <h3> Vi i komiteen gleder oss masse, men hvem er vi egentlig?</h3>
    <div class="komite">
        <div>
            <img src="/img/amit.png" alt="Bilde Amit"/>
            <p>Amit Garg, amit.garg@nav.no</p>
        </div>
        <div>
            <img src="/img/dervis.png" alt="Bilde Dervis"/>
            <p>Dervis Mansuroglu, dervis.mansuroglu@nav.no</p>
        </div>
        <div>
            <img src="/img/luis.png" alt="Bilde Luis"/>
            <p>Jorge Luis Lopez Marin, jorge.luis.lopez.marin@nav.no</p>
        </div>
        <div>
            <img src="/img/julie.png" alt="Bilde Julie"/>
            <p>Julie Alice Skøien, julie.alice.skoien@nav.no</p>
        </div>
        <div>
            <img src="/img/monika.png" alt="Bilde Monika"/>
            <p>Monika Sperstad Køller, monika.koller@nav.no</p>
        </div>
        <div>
            <img src="/img/solveig.png" alt="Bilde Solveig"/>
            <p>Solveig Slaatsveen Riddervold, Solveig.Slaatsveen.Riddervold@nav.no</p>
        </div>
    </div>
</div>
