---
layout: "layouts/base.njk"
pageClass: index
---

<h1 class="title">NAV IT Tech Day 2023</h1>
<h2>Fagdag for Utvikling og Data, 9. november på Teknisk Museum</h2>

<div class="description-box">
    <p>For at NITD23 skal bli den beste fagdagen i NAVs historie, trenger vi gode, faglige bidrag fra de beste folka. Hva slags bidrag, spør du? Presentasjoner, workshops, stands, musikalsk opptreden eller et annet kulturelt innslag og alt imellom.</p>

    <p>Temaet for fagdagen er «Tilbake til fremtiden» og bidrag innenfor temaet prioriteres. Hva er innenfor temaet, spør du? Vel, vår teknologiske tidsmaskin gjør gjerne et dykk i det aller meste.</p>

    <ul>
        <li>Hva med en teknologisk reise i lys av NAV?</li>
        <li>Noen ord om plattform, sky, arkitektur, stacks, ny teknologi eller funksjonalitet?</li>
        <li>En fuckup der du eller teamet ditt trodde dere reddet verden, men skapte hodebry for saksbehandlerne i flere dager?</li>
        <li>En gruppeøkt der kommunikasjon eller andre soft skills kan få et løft?</li>
        <li>Et tema du vil diskutere med flere, og legger til rette for et passende forum? Eks. lean coffee.</li>
        <li>Hvordan du bruker eller eksperimenterer med KI/ML i hverdagen din?</li>
        <li>Lidenskapen din for data governance, personvern og datakvalitet?</li>
        <li>På hvilken måte analyse- og innsiktsarbeid gjør NAV enda mer datadrevet?</li>
    </ul>
</div>

<a class="form-link" href="{{ site.formsUrl }}">Send inn ditt bidrag i dag! 🎉</a>

<a class="slack-join-link" href="{{ site.slackUrl }}"><img src="/img/Slack-mark.png" alt="Slack mark"/>Bli med i #nitd23</a>
