---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Teknisk museum</h1>
    <div class="info-museet">
        <p>Både fagdagen og middagen finner sted på fantastiske Teknisk museum.</p>
        <p>Vi skal bruke flere av rommene i museet under fagdagen og har tid for å utforske museet i seg selv både ila dagen og kvelden så anbefaler at dere tar en titt på <a href="https://www.tekniskmuseum.no/kart">kartet over museet</a> på forhånd. </p>

        <h2>Reise hit</h2>
        <p>Dere ordner transporten selv og finner forslag på <a href="https://www.tekniskmuseum.no/finnveien">museets hjemmeside</a></p>
        <p>Dere som jobber remote bestiller reise som vanlig, ved spørsmål hører du med personalleder.</p>

        </br>
        <p>Gå til <a href="https://www.tekniskmuseum.no">museets hjemmeside</a> for mer info.</p>
    </div>
</div>
