<!doctype html>
<html lang="no">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} | {% endif %} NITD 2023</title>
        <meta name="description" content="{{description}}" />
        <link rel="icon" type="image/png" href="/img/favicon.ico" />
        <link rel="manifest" href="/manifest.json" />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-wrapper">
            <div class="main page-info">
                <div class="banner-logo">
                    <img src="/img/NITD23_logo_cutout.svg" alt="Tilbake til fremtiden – NITD23"/>
                </div>

                <nav>
                    <a href="/../">Hjem</a>
                    <a href="/info">Praktisk info</a>
                </nav>
                <br/>
                <div class="info-box">
                    Her vil det etterhvert komme nyttig informajson om dagen
                </div>
            </div>
        </div>
    </body>
</html>
