---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Programmet for dagen</h1>
    <div class="info-program">
        <p>Programmet er under arbeid og vil endre seg masse før dagen. Mest oppdatert oversikt finner du på <a class="trello-link" href="{{ site.trelloUrl }}">Trelloen vår</a></p>
        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>09:00-09:30</p>
            </div>
            <div class="aktivitet">
                <p>Frokost og mingling</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>09:30-10:00</p>
            </div>
            <div class="aktivitet">
                <p>Velkommen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>10:00-10:20</p>
            </div>
            <div class="aktivitet">
                <p>Pause</p>
            </div>
        </div>

        <div class="track-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
            <div class="aktivitet">
                <p>Auditoriet</p>
            </div>
            <div class="aktivitet">
                <p>Verdensrommet</p>
            </div>
        </div>
        <div class="track">
            <div class="tid">
                <p>10:20-12:00</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Workshop</p>
            </div>
        </div>

        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>12:00-13:00</p>
            </div>
            <div class="aktivitet">
                <p>Lunsj</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>13:00-13:40</p>
            </div>
            <div class="aktivitet">
                <p>Fellespresentasjon</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>13:40-14:00</p>
            </div>
            <div class="aktivitet">
                <p>Pause</p>
            </div>
        </div>

        <div class="track-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
            <div class="aktivitet">
                <p>Auditoriet</p>
            </div>
            <div class="aktivitet">
                <p>Verdensrommet</p>
            </div>
        </div>
        <div class="track">
            <div class="tid">
                <p>14:00-14:40</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>14:40-15:00</p>
            </div>
            <div class="aktivitet">
                <p>Pause med lett servering</p>
            </div>
        </div>
        <div class="track">
            <div class="tid">
                <p>15:00-15:40</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
        </div>

        <div class="fellessesjon">
            <div class="tid">
                <p>15:40-15:50</p>
            </div>
            <div class="aktivitet">
                <p>Pause</p>
            </div>
        </div>
        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>15:50-16:00</p>
            </div>
            <div class="aktivitet">
                <p>Praktisk info</p>
            </div>
        </div>

        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Rundt omkring</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>16:00-18:30</p>
            </div>
            <div class="aktivitet">
                <p>Div sosiale påfunn</p>
            </div>
        </div>

        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen / Flyhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>18:30-20:30</p>
            </div>
            <div class="aktivitet">
                <p>Middag m/underholdning</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>20:30-21:30</p>
            </div>
            <div class="aktivitet">
                <p>Konsert/underholdning</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>21:30-00:00</p>
            </div>
            <div class="aktivitet">
                <p>Bar og DJ</p>
            </div>
        </div>
    </div>
</div>
