---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Programmet for dagen</h1>
    <div class="info-program">
        <p>Programmet er under arbeid og vil endre seg masse før dagen</p>
        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>09:00-09:30</p>
            </div>
            <div class="aktivitet">
                <p>Frokost og mingling</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>09:30-????</p>
            </div>
            <div class="aktivitet">
                <p>Velkommen</p>
            </div>
        </div>

        <div class="track-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
            <div class="aktivitet">
                <p>TBD</p>
            </div>
            <div class="aktivitet">
                <p>TBD</p>
            </div>
        </div>
        <div class="track">
            <div class="tid">
                <p>?</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
        </div>

        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>????</p>
            </div>
            <div class="aktivitet">
                <p>Lunsj</p>
            </div>
        </div>

        <div class="track-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen</p>
            </div>
            <div class="aktivitet">
                <p>TBD</p>
            </div>
            <div class="aktivitet">
                <p>TBD</p>
            </div>
        </div>
        <div class="track">
            <div class="tid">
                <p>?</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
            <div class="aktivitet">
                <p>Faglig opplegg</p>
            </div>
        </div>

        <div class="fellessesjon-programheader">
            <div class="tid">
            </div>
            <div class="aktivitet">
                <p>Temporærhallen / Flyhallen</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>18:00-20:00?</p>
            </div>
            <div class="aktivitet">
                <p>Middag</p>
            </div>
        </div>
        <div class="fellessesjon">
            <div class="tid">
                <p>????</p>
            </div>
            <div class="aktivitet">
                <p>Sosialt</p>
            </div>
        </div>
    </div>
</div>
