---
layout: "layouts/base.njk"
pageClass: index
---
<div class="info-box">
    <h1>Programmet for dagen</h1>
    <div class="info-program">
        <p>Her kommer info om programmet når det er klart</p>
    </div>
</div>
